In [30]:
# Import Dependencies
import pandas as pd
import numpy as np

In [31]:
# Read excel file into dataframe
HouseHuntersDF = pd.read_excel("HouseHuntersData.xlsx")
print(len(HouseHuntersDF['Address']))
HouseHuntersDF.head()

716

,Address,Zip Code,Asking Price,Zestimate,Lot Size (in acres),Square Feet,Bedrooms,Bathrooms,Year Built,Home Type
0,"3085 Eastbrook Ter SW, Atlanta, GA",30331,349900.0,NaN,10018.0,3636.0,6,4.0,2008.0,SingleFamily
1,"5524 Stone Cove Dr SW, Atlanta, GA",30331,317000.0,312078.0,14374.0,5002.0,6,4.0,2007.0,SingleFamily
2,"45 Ivan Allen Jr Blvd NW UNIT 1901, Atlanta, GA",30308,545000.0,533631.0,1773.0,1774.0,2,3.0,2010.0,Condominium
3,"3300 Ferncliff Ln, Atlanta, GA",30324,527900.0,517626.0,871.0,1872.0,3,4.0,2012.0,Condominium
4,"229 Woodward Ave SE, Atlanta, GA",30312,487900.0,466183.0,2610.0,2040.0,4,3.0,2016.0,SingleFamily

In [35]:
# Get user prefernces
home_price = input("What is your ideal price? ")
home_lot_size = input("What is your ideal lot size? ")
home_footage = input("What is your ideal square footage? ")
home_beds = input("What is your ideal number of bedrooms? ")
home_baths = input("What is your ideal number of bathrooms? ")
home_year = input("What is your ideal build year? ")
home_type = input("What is your ideal home type? ")

# Convert these input values to integer type
home_price = float(home_price)
home_lot_size = float(home_lot_size)
home_beds = int(home_beds)
home_baths = int(home_baths)
home_year = int(home_year)
home_footage = int(home_footage)

What is your ideal price?  200000
What is your ideal lot size?  0.5
What is your ideal square footage?  1000
What is your ideal number of bedrooms?  2
What is your ideal number of bathrooms?  2
What is your ideal build year?  2000
What is your ideal home type?  SingleFamily

In [8]:
weights = list(np.arange(1,6,1))
usedweights = []

user_price = int(input('For the home price, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least)'))
if user_price not in weights:
    if user_price in usedweights:
        user_price = input(f'You have already used this value. Pick another. Your Options are {weights}')
    else:
        user_price = input(f'That is not a value in the range. Your Options are {weights}')
else:
    usedweights.append(user_price)
    weights.remove(user_price)
    
user_lot_size = int(input('For the home price, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least)'))
if user_lot_size not in weights:
    if user_lot_size in usedweights:
        user_lot_size = input(f'You have already used this value. Pick another. Your Options are {weights}')
    else:
        user_lot_size = input(f'That is not a value in the range. Your Options are {weights}')
else:
    usedweights.append(user_lot_size)
    weights.remove(user_lot_size)

user_sq_ft = int(input('For the home price, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least)'))
if user_sq_ft not in weights:
    if user_sq_ft in usedweights:
        user_sq_ft = input(f'You have already used this value. Pick another. Your Options are {weights}')
    else:
        user_sq_ft = input(f'That is not a value in the range. Your Options are {weights}')
else:
    usedweights.append(user_sq_ft)
    weights.remove(user_sq_ft)

user_bedrooms = int(input('For the number of bedrooms, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least)'))
if user_bedrooms not in weights:
    if user_bedrooms in usedweights:
        user_bedrooms = input(f'You have already used this value. Pick another. Your Options are {weights}')
    else:
        user_bedrooms = input(f'That is not a value in the range. Your Options are {weights}')
else:
    usedweights.append(user_bedrooms)
    weights.remove(user_bedrooms)

user_bathrooms = int(input('For the number of bathrooms, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least)'))
if user_bathrooms not in weights:
    if user_bathrooms in usedweights:
        user_bathrooms = input(f'You have already used this value. Pick another. Your Options are {weights}')
    else:
        user_bathrooms = input(f'That is not a value in the range. Your Options are {weights}')
else:
    usedweights.append(user_bathrooms)
    weights.remove(user_bathrooms)

user_weights = {"price": (user_price * 2 / 10) + 1,
               "lot_size": (user_lot_size * 2 / 10) + 1, 
               "sq_ft": (user_sq_ft * 2 / 10) + 1, 
               "bedrooms": (user_bedrooms * 2 / 10) + 1,
               "bathrooms": (user_bathrooms * 2 / 10) + 1}

For the home price, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least) 5
For the home price, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least) 4
For the home price, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least) 3
For the number of bedrooms, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least) 2
For the number of bathrooms, assign a number from 1-5, to indicate the importance of this category. (5 being most important, 1 being least) 1

In [38]:
#Create Data Frame for Price Input
length_initial = len(HouseHuntersDF['Address'])
HouseHuntersDF = HouseHuntersDF.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
length_final = length_initial - len(HouseHuntersDF['Address'])
print(f'Number of houses dropped for null data: {length_final}')

HouseHunters_Input_1 = HouseHuntersDF[HouseHuntersDF['Asking Price'].astype(int)<=home_price]

#Create Data Frame for Home Lot Size Input Using Previous Input Data Frame
HouseHunters_Input_1 = HouseHunters_Input_1.loc[HouseHunters_Input_1['Lot Size (in acres)'].astype(float)*0.0000229568]
HouseHunters_Input_2 = HouseHunters_Input_1.loc[HouseHunters_Input_1['Lot Size (in acres)']>=home_lot_size]

#Create Data Frame for Square Footage Input Using Previous Input Data Frame
HouseHunters_Input_3 = HouseHunters_Input_2.loc[HouseHunters_Input_2['Square Feet'].astype(int)>=home_footage]

#Create Data Frame for Bedrooms Input Using Previous Input Data Frame
HouseHunters_Input_4 = HouseHunters_Input_3.loc[HouseHunters_Input_3['Bedrooms'].astype(int)>=home_beds]

#Create Data Frame for Bathrooms Using Previous Input Data Frame
HouseHunters_Input_5 = HouseHunters_Input_4.loc[HouseHunters_Input_4['Bathrooms'].astype(float)>=home_baths]

#Create Data Frame for Home Year Input Using Previous Input Data Frame
HouseHunters_Input_6 = HouseHunters_Input_5.loc[HouseHunters_Input_5['Year Built'].astype(int)>=home_year]

#Create Data Frame for Home Type Input Using Previous Input Data Frame
HouseHunters_Input_7 = HouseHunters_Input_6.loc[HouseHunters_Input_6['Home Type'].astype(str)>=home_type]
HouseHunters_Input_7 = HouseHunters_Input_7.reset_index(drop=True)

In [28]:
# Normalize the values within this dataframe
scaledDF = HouseHunters_Input_7

columnlist = ['Lot Size (in acres)', 'Square Feet', 'Bedrooms', 'Bathrooms']
for column in columnlist:
    
    #Get Min and Max Values
    Max = float(scaledDF[column].max())
    Min = float(scaledDF[column].min())
    for i in range(len(scaledDF[column])):
        if float(scaledDF[column].iloc[i]) > Max:
            Max = float(scaledDF[column].iloc[i])
        elif float(scaledDF[column].iloc[i]) < Min:
            Min = float(scaledDF[column].iloc[i])
    
    #Scale all values to 1-10
    New_Values = []
    for i in range(len(scaledDF[column])):
        item = float(scaledDF[column].iloc[i])
        if item == Max:
            new_item = 10
        elif item == Min:
            new_item = 1
        else:
            new_item = 10 * (item - Min) / (Max - Min)
        New_Values.append(new_item)
    scaledDF[column] = New_Values

# 'Asking Price' scaling
column = 'Asking Price'
Max = float(scaledDF[column].max())
Min = float(scaledDF[column].min())
for i in range(len(scaledDF[column])):
    if float(scaledDF[column].iloc[i]) > Max:
        Max = float(scaledDF[column].iloc[i])
    elif float(scaledDF[column].iloc[i]) < Min:
        Min = float(scaledDF[column].iloc[i])
#Scale all values to 1-10
New_Values = []
for i in range(len(scaledDF[column])):
    item = float(scaledDF[column].iloc[i])
    if item == Max:
        new_item = 1
    elif item == Min:
        new_item = 10
    else:
        new_item = 10 * (Max - item) / (Max - Min)
    New_Values.append(new_item)
scaledDF[column] = New_Values

#Create a column scoring each home on its attributes
scores = []
for i in scaledDF.index:
    score = scaledDF['Asking Price'].iloc[i] + scaledDF['Lot Size (in acres)'].iloc[i] + scaledDF['Square Feet'].iloc[i] + scaledDF['Bedrooms'].iloc[i] + scaledDF['Bathrooms'].iloc[i]
    scores.append(score)

HouseHunters_Input_7['Scores'] = scores
HouseHunters_Input_7 = HouseHunters_Input_7.sort_values(by='Scores', ascending=False)

In [29]:
HouseHunters_Input_7

,Address,Zip Code,Asking Price,Zestimate,Lot Size (in acres),Square Feet,Bedrooms,Bathrooms,Year Built,Home Type,Scores
0,"2500 Butner Rd SW, Atlanta, GA",30331,10,88020.0,10,10,10,10,2010.0,SingleFamily,50
1,"2347 Daniel Rd SW, Atlanta, GA",30331,1,133662.0,1,1,1,1,2004.0,SingleFamily,5